<!DOCTYPE html>
<html>
<head>
    <title>
        About Us
    </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="about.css">
</head>
<body>
    <header class="course0">
        <nav class="menu">
          <a href="/" class="logo">LIFT<span>.</span></a>
             
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/course">COURSES</a></li>
                <li><a href="/about"class="active" >ABOUT US</a></li>
                
                <li><a href="/signup">SIGN UP</a></li>
            </ul>
            
            </nav>
        </header>
    <header>

            <div class="con">
                <img src="https://4kwallpapers.com/images/walls/thumbs_2t/1791.jpg" alt="">
                <p class="ab">ABOUT US</p>
                <P class="lo">Our platform offers a diverse range of courses taught by industry experts<br/> and experienced educators. From technology and business to arts and <br/>humanities,  our extensive catalog covers a wide array of subjects to suit <br/>every interest and  career path. With flexible scheduling and self-paced learning<br/> options, you can study whenever  and wherever it's convenient for you.

                    At LIFT ,<br/> we prioritize the success of our students.  That's why we're committed to delivering<br/> engaging, interactive learning experiences that foster critical thinking, creativity,<br/> and practical skills development. Our intuitive platform makes it easy to navigate<br/> through course materials, collaborate with peers, and engage with instructors.</P>
            </div>
        </header>
          
           
        