<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="home.css">
    <!--Google font link-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700,900">
</head>
<body>
  <header>
    <nav class="menu">
      <a href="/" class="logo">LIFT<span>.</span></a>
         
        <ul>
            <li><a href="/" class="active">HOME</a></li>
            <li><a href="/course">COURSES</a></li>
            <li><a href="/about">ABOUT US</a></li>
           
            <li><a href="/signup">SIGN UP</a></li>
        </ul>
        </nav>
    </header>

    <section class="main-sec">
      <div class="content">
        <div class="pic"><img src="https://www.21kschool.com/in/wp-content/uploads/sites/4/2022/09/5-Benefits-of-Personalized-Learning.png" alt=""></div>

        <h1>What is all our knowledge worth?</h1>
        <p>Become better than yesterday.
        </p>

        
        <div class="search-bar">
          <input type="text" placeholder="  Search for courses here">
          <button class="search-button">Search</button>
      </div>
    </div>
    
    </div>
    </section>
    <footer>
      <div class="footer-container">
          <div class="footer-content">
              <p>&copy; 2023 LIFT. All rights reserved.</p>
              <ul>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="/contact">Contact Us</a></li>
              </ul>
          </div>
      </div>
  </footer>
</body>
</html>
