<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="sign.css">
</head>
<body>
  <header class="course0">
    <nav class="menu">
      <a href="/" class="logo">LIFT<span>.</span></a>
         
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/course">COURSES</a></li>
            <li><a href="/about" >ABOUT US</a></li>
           
            <li><a href="/signup"class="active">SIGN UP</a></li>
        </ul>
        
        </nav>
    </header>
  <div class="container">
    <form id="signupForm">
      <h2>Sign Up</h2>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div> 
      <button type="submit">Sign Up</button>
      <p>Already have an account? <a href="/login">Login</a></p>
      <div id="error-message"></div> <!-- New div for error message -->
    </form> 
  </div>

  <script>
    const signupForm = document.getElementById('signupForm');
    const errorMessage = document.getElementById('error-message');

    signupForm.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formData = new FormData(signupForm);
      const username = formData.get('username');
      const email = formData.get('email');
      const password = formData.get('password');

      try {
        const res = await fetch('/signup', {
          method: 'POST',
          body: JSON.stringify({ username, email, password }),
          headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
        console.log(data);
        if (data.error) {
          errorMessage.textContent = data.error; // Display the error message in the div
        } else {
          window.location.href = '/login'; // Redirect to login page
        }
      } catch (error) {
        console.log(error);
        errorMessage.textContent = 'An error occurred. Please try again later.';
      }
    });
  </script>
</body>
</html>
